::-webkit-scrollbar {
	height: 10px;
	border-radius: 10px;
	/* background: rgba(151, 87, 255, 0.5); */
   }


/* 피드 공통 헤더 */
.first_menu {
    display: grid;
    grid-template-columns: 1.7fr 2.3fr;
}

.menu_title {
    display: grid;
    grid-template-columns: 0.5fr 3.5fr;
}

.project_color {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: beige;
    border-radius: 5px;
    margin-right: 10px;
}

.menu_title div input {
    display: inline-block;
    width: 260px;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
}

.menu_title div textarea {
    display: inline-block;
    width: 260px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
	resize: none;
}

.date_set {
    display: flex;
    align-items: flex-end;
}

.date {
    width: 70%;
    height: 30px;
    padding-left: 10px;
    border: none;
    background-color: transparent;
}

.date_set label {
    margin-right: 5px;
    width: 200px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    color: black;
    font-weight: 600;
    padding-left: 10px;
    line-height: 30px;
    font-size: 1em;
}

.tabset {
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
    color: white;
    font-weight: 800;
}

.tab_menu {
    display: inline-block;
    width: 50%;
    font-weight: 800;
    border: none;
    background-color: transparent;
    text-align: center;
}

.gantt-tabmenu.active {
    width: 100%;
    color: white;
    font-weight: 800;
    border-bottom: 2px solid var(--inactive-color);
    display: inline-block;
    background-color: transparent;
    /* border-bottom: 2pax solid #6b6b6b; */
}

/* .hr {
    width: 100%;
    height: 2px;
    border: 1px solid white;
    margin: 5px 0;
} */
.gantt-tabmenu {
	color: #fff;
}

/* 수정 완료 시 팝업 창 */
.gantt-update-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: rgba(0, 0, 0, 0.5); */
	z-index: 9999;
}
.gantt-modal-content {
	position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #9656FF;
    padding: 10px 30px;
    border-radius: 15px;
    border: 1px solid #fff;
}
.gantt-modal-content-p {
	color: #fff;
	margin: 0px;
}

/* 간트차트 전체 */
.gantt-content-wrap {
	background-color: var(--theme-bg-color);
	/* background-color: #fff; */
	/* color: #000; */
	height: auto;
	margin: -40px -40px 0 -40px;
	position: relative;
	top: 40px;
	overflow: auto;
}

/* 검색, 드롭박스, 업무추가버튼 영역 */
.gantt-btn-wrap {
	border-bottom: 1px solid var(--inactive-color);
	padding: 5px;
	display: flex;
    justify-content: space-between;
	/* height: 6%; */
	background-color: rgba(23, 24, 29, 0.4);
	margin: 0px -40px;
}

.gantt-search {
	/* border: 1px solid #000; */
	border-radius: 10px;
	color: #000;
}

.gantt-filter {
	position: relative;
    /* top: 8px; */
    right: 10px;
    width: 26px;
}

.gantt-dropdown-check-list {
	display: inline-block;
	position: relative;
}

.gantt-dropdown-check-list .gantt-span {
	position: relative;
	cursor: pointer;
	display: inline-block;
	padding: 5px 22px 5px 22px;                    
	border: 1px solid #ccc;
}

/* .gantt-dropdown-check-list .gantt-span:after {
	position: absolute;
	content: "";
	border-left: 2px solid black;
	border-top: 2px solid black;
	padding: 5px;
	right: 20px;
	top: 16%;
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
} */

.gantt-dropdown-check-list .gantt-span:active:after {
	right: 8px;
	top: 21%;
}

.gantt-dropdown-check-list ul.gantt-items {
	padding: 2px;
	display: none;
	margin: 0;
	border: 1px solid #ccc;
	border-top: none;
}

.gantt-dropdown-check-list ul.gantt-items li {
	list-style: none;
	padding: 0;
	border: none;
}

.gantt-dropdown-check-list.visible .gantt-items {
	display: block;
	position: absolute;
	top: 35px;
	left: 0px;
	height: auto;
	background-color: #fff;
    border-radius: inherit;
	width: -webkit-fill-available;
	z-index: 1;
}

.gantt-items li input{
	margin: 0px 5px;
	accent-color: #9656FF;
}
.gantt-item {
	padding-left: 4px;
	color: #000;
}

/* 업무상태 색깔 */
.gantt-color {
	border-radius: 50%;
	width: 12px;
	height: 12px;
	display: inline-block;
}
.gantt-status1 {
	background-color: #B1B1B1;
}
.gantt-status2 {
	background-color: #04A5FF;
}
.gantt-status3 {
	background-color: #F34747;
}
.gantt-status4 {
	background-color: #64C139;
}
.gantt-status-color {
	padding: 0px 15px;
    border-radius: 15px;
    height: 25px;
}

.gantt-rank {
	width: 15px;
    margin: 0 9px 3px 5px;
}


.gantt-add-btn {
	background-color: #9656FF;
	color: #fff;
	border: none;
    padding: 5px 15px;
    border-radius: 10px;
	cursor: pointer;
}

/* 간트차트 section 업무 영역 */
.gantt-all-task {
	display: flex;
	/* height: 94%; */
}

.gantt-task-wrap {
	width: 45%;
	/* height: 100%; */
	border-right: 1px solid var(--inactive-color);
	text-align: center;
	/* overflow-x: scroll; */
}
.gantt-task-container {

}
.gantt-task-header {
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid var(--inactive-color);
	text-align: center;
	height: 30px;
}

.gantt-task-header .gantt-task-header-div {
	width: 20%;
	border-right: 1px solid var(--inactive-color);
	padding: 3px 0px;
	height: 30px;
}
.gantt-order {

}
.gantt-order-div {
	display: none;
    /* width: fit-content; */
    position: absolute;
    border: 1px solid #fff;
    background-color: #000;
    z-index: 1;
    /* margin-left: 17px; */
}
.gantt-task-body {

}
.gantt-task {
	/* border-bottom: 1px solid #000; */
	/* padding: 3px; */
	display: flex;
    justify-content: space-between;
	/* height: 6%; */
}

.gantt-task input {
	border: none;
	width: 100%;
	text-align: center;
	background: none;
}
/* .gantt-task:nth-child(1) {
	background-color: #04A5FF;
}
.gantt-task:nth-child(2) {
	background-color: #64C139;
}
.gantt-task:nth-child(3) {
	background-color: #9656FF;
}
.gantt-task:nth-child(4) {
	background-color: #F34747;
}
.gantt-task:nth-child(5) {
	background-color: chocolate;
} */

.gantt-task-detail-click, .taskKey, .taskName {
	display: inline-block;
}

.gantt-task>div {
	border-right: 1px solid var(--inactive-color);
	border-bottom: 1px solid var(--inactive-color);
	padding: 10px 5px;
	height: 43.5px;
	/* text-overflow: ellipsis; */
  	overflow: hidden;
  	white-space: nowrap;
}

/*  업무 부분 너비 조절 */
.gantt-task .gantt-editable-div {
	width: 30%;
}
.gantt-task .responName {
	width: 16%;
}
.gantt-task .gantt-status-name {
	width: 18%;
}
.gantt-task .gantt-task-4 {
	width: 18%;
}
.gantt-task .gantt-task-5 {
	width: 18%;
}
/* 업무명 수정 가능 */
.editable {
	/* border: 1px solid #ccc; */
	padding: 5px;
	cursor: pointer;
}
/*  */
.gantt-editable-div {
	display: flex;
}
.gantt-task-detail-click {
	flex: 0 0 10%;
}
.taskKey {
	flex: 0 0 20%;
}
.taskName {
	flex: 1;
}

.gantt-editable-div:hover .gantt-task-detail-click {
	color: rgb(151, 87, 255);
}
.gantt-editable-div:hover .taskName {
	background-color: rgba(151, 87, 255, 0.3);
	border: 1px solid rgb(151, 87, 255);
}

/* .editable > img {
	width: 15px;
	margin: 0px 5px;
} */

/* 업무명 자세히 보기 */
.gantt-detail {
	display: none;
	position: absolute;
	left: 30px;
    background-color: rgba(151, 86, 255, 0.9);
    width: auto;
    padding: 5px;
    z-index: 1;
	border: 1px solid var(--inactive-color);
}
.gantt-detail-btn {
	border: none;
	padding: 3px;
}

/* 드롭박스 선택 수정 */
.gantt-update-dropdown {
	position: relative;
	display: inline-block;
	width: 90%;
}
.statusDropdown {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	width: 100%; /* 드롭다운이 부모 요소에 가득 차도록 설정 */
	padding: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
}

/* .gantt-dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: -webkit-fill-available;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
	height: auto;
}
.gantt-dropdown-content > li {
	list-style: none;
	padding: 0;
	border: none;
	
}
.gantt-dropdown-content li a {
	color: #000;

} */
/* .gantt-dropdown:hover .gantt-dropdown-content {
	display: block;
} */

/* 간트차트 section 차트 영역 */
.gantt-chart-wrap {
	width: 55%;
    height: 100%;
	/* border: 1px solid #000; */
	display: flex;
	overflow: auto;
	/* flex-direction: column; */
}

.gantt-chart-container {
	/* flex: 1; */
	/* overflow: auto; */
	/* overflow-y: hidden; */
}

.gantt-chart-header {
	/* overflow-x: auto; */
	text-align: center;
}

.gantt-header-scroll {
	white-space: nowrap;
	display: flex;
	justify-content: flex-start;
}
.gantt-chart-body {
	/* display: flex;
    justify-content: center;
    flex-direction: row;
	height: 570px; */
	/* background-color: aqua */
	width: fit-content;
}
.gantt-chart {
	display: flex;
    /* justify-content: center; */
    flex-direction: row;
	height: 43.5px;
	border-bottom: 1px solid var(--inactive-color);
	padding: 6px 0px;
}
.gantt-chart-body div .bk-row {
	width: 85px;
	height: 30px;
}
.gantt-chart > div {
	flex-basis: 85px;
	width: 85px;
}
.bk-row {
	background-color: #9656FF;
	width: 100%;
	height: 100%;
}

.gantt-header-scroll .date {
	padding: 4px 15px;
	border-bottom: 1px solid var(--inactive-color);
	border-right: 1px solid var(--inactive-color);
	width: 85px;
	color: #fff;
}
/* .task {
	background-color: #2196F3;
	color: #fff;
	margin: 5px;
	padding: 5px;
	border-radius: 3px;
	display: inline-block;
} */

.scroll-style-parent {
	position:relative;
}

.scroll-style::-webkit-scrollbar-thumb {
	position: fixed;
	background-color: white;
}