/* 피드 공통 헤더 */
.first_menu {
    display: grid;
    grid-template-columns: 1.7fr 2.3fr;
}

.menu_title {
    display: grid;
    grid-template-columns: 0.5fr 3.5fr;
}

.project_color {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: beige;
    border-radius: 5px;
    margin-right: 10px;
}

.menu_title div input {
    display: inline-block;
    width: 260px;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
}

.menu_title div textarea {
    display: inline-block;
    width: 260px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
	resize: none;
}

.date_set {
    display: flex;
    align-items: flex-end;
}

.date {
    width: 70%;
    height: 30px;
    padding-left: 10px;
    border: none;
    background-color: transparent;
}

.date_set label {
    margin-right: 5px;
    width: 200px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    color: black;
    font-weight: 600;
    padding-left: 10px;
    line-height: 30px;
    font-size: 1em;
}

.tabset {
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
    color: white;
    font-weight: 800;
}

.tab_menu {
    display: inline-block;
    width: 50%;
    font-weight: 800;
    border: none;
    background-color: transparent;
    text-align: center;
}

.tabmenu.active {
    width: 100%;
    color: white;
    font-weight: 800;
    border-bottom: 2px solid white;
    display: inline-block;
    background-color: transparent;
    /* border-bottom: 2pax solid #6b6b6b; */
}

.hr {
    width: 100%;
    height: 2px;
    border: 1px solid white;
    margin: 5px 0;
}




/* 간트차트 전체 */
.gantt-content-wrap {
	background-color: var(--theme-bg-color);
	color: #000;
	height: 656px;
	margin: -40px;
	position: relative;
	top: 40px;
}

/* 검색, 드롭박스, 업무추가버튼 영역 */
.gantt-btn-wrap {
	border-bottom: 1px solid #000;
	padding: 3px;
	display: flex;
    justify-content: space-between;
	height: 6%;
}

.gantt-search {
	/* border: 1px solid #000; */
	border-radius: 10px;
}

.gantt-filter {
	position: relative;
    /* top: 8px; */
    right: 10px;
    width: 26px;
}

.gantt-dropdown-check-list {
	display: inline-block;
	position: relative;
}

.gantt-dropdown-check-list .gantt-span {
	position: relative;
	cursor: pointer;
	display: inline-block;
	padding: 5px 40px 5px 10px;
	border: 1px solid #ccc;
}

.gantt-dropdown-check-list .gantt-span:after {
	position: absolute;
	content: "";
	border-left: 2px solid black;
	border-top: 2px solid black;
	padding: 5px;
	right: 18px;
	top: 20%;
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

.gantt-dropdown-check-list .gantt-span:active:after {
	right: 8px;
	top: 21%;
}

.gantt-dropdown-check-list ul.gantt-items {
	padding: 2px;
	display: none;
	margin: 0;
	border: 1px solid #ccc;
	border-top: none;
}

.gantt-dropdown-check-list ul.gantt-items li {
	list-style: none;
	padding: 0;
	border: none;
}

.gantt-dropdown-check-list.visible .gantt-items {
	display: block;
	position: absolute;
	top: 35px;
	left: 0px;
	height: auto;
	background-color: #fff;
    border-radius: inherit;
	width: -webkit-fill-available;
}

.gantt-items li input {
	margin: 0px 7px;
	accent-color: #9656FF;
}
.gantt-rank {
	width: 15px;
    margin-right: 9px;
}


.gantt-add-btn {
	background-color: #9656FF;
	color: #fff;
	border: none;
    padding: 5px 15px;
    border-radius: 10px;
	cursor: pointer;
}

/* 간트차트 section 업무 영역 */
.gantt-all-task {
	display: flex;
	height: 94%;
}

.gantt-task-wrap {
	width: 45%;
	height: 100%;
	border-right: 1px solid #000;
	text-align: center;
}

.gantt-task-header {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #000;
	text-align: center;
	height: 30px;
}

.gantt-task-header div {
	width: 20%;
	border-right: 1px solid #000;
	padding: 3px 0px;
	height: 30px;
}
.gantt-task {
	/* border-bottom: 1px solid #000; */
	/* padding: 3px; */
	display: flex;
    justify-content: space-between;
	/* height: 6%; */
}

.gantt-task input {
	border: none;
	width: 100%;
	text-align: center;
}

.gantt-task div {
	width: 20%;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

.gantt-task div {
	padding: 10px 0px;
}

/* .gantt-task div input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
    pointer-events: none;
} */

/* 업무명 수정 가능 */
.editable {
	/* border: 1px solid #ccc; */
	padding: 5px;
	cursor: pointer;
}
.editable > img {
	width: 15px;
	margin: 0px 5px;
}
/* 드롭박스 선택 수정 */
.gantt-dropdown {
	position: relative;
	display: inline-block;
}

.gantt-dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: -webkit-fill-available;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
	height: auto;
}
.gantt-dropdown-content > li {
	list-style: none;
	padding: 0;
	border: none;
	
}
.gantt-dropdown-content li a {
	color: #000;

}
/* .gantt-dropdown:hover .gantt-dropdown-content {
	display: block;
} */

/* 간트차트 section 차트 영역 */
.gantt-chart-wrap {
	width: 55%;
    height: 100%;
	/* border: 1px solid #000; */
	display: flex;
	overflow: auto;
	/* flex-direction: column; */
}

.gantt-chart-container {
	/* flex: 1;
	overflow: auto; */
}

.gantt-chart-header {
	/* overflow-x: auto; */
}

.gantt-header-scroll {
	white-space: nowrap;
	display: flex;
	justify-content: flex-start;
}
.gantt-chart-body {
	/* display: flex;
    justify-content: center;
    flex-direction: row;
	height: 570px; */
	/* background-color: aqua */
}
.gantt-chart {
	display: flex;
    /* justify-content: center; */
    flex-direction: row;
	height: 43.5px;
	border-bottom: 1px solid #000;
	padding: 6px 0px;
}
.gantt-chart-body div .bk-row {
	width: 85px;
	height: 30px;
}
.gantt-chart > div {
	flex-basis: 85px;
	width: 85px;
}
.bk-row {
	background-color: #9656FF;
	width: 100%;
	height: 100%;
}

.gantt-header-scroll .date {
	padding: 4px 15px;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
	width: 85px;
}
/* .task {
	background-color: #2196F3;
	color: #fff;
	margin: 5px;
	padding: 5px;
	border-radius: 3px;
	display: inline-block;
} */
