*{
    box-sizing: border-box;
}

.first_menu {
    display: grid;
    grid-template-columns: 1.7fr 2.3fr;
}

.menu_title {
    display: grid;
    grid-template-columns: 0.5fr 3.5fr;
}

.project_color {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: beige;
    border-radius: 5px;
    margin-right: 10px;
}

input {
    display: inline-block;
    width: 260px;
    height: 20px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
}

textarea {
    display: inline-block;
    width: 260px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
}

.tabset {
    width: 100%;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
    color: white;
    font-weight: 800;
}

.tabmenu {
    display: inline-block;
    width: 50%;
    font-weight: 800;
    border: none;
    background-color: transparent;
    text-align: center;
}

.tabmenu.active {
    width: 100%;
    color: white;
    font-weight: 800;
    border-bottom: 2px solid white;
    display: inline-block;
    background-color: transparent;
    /* border-bottom: 2pax solid #6b6b6b; */
}

.date_set {
    display: flex;
    align-items: flex-end;
}

.date {
    width: 70%;
    height: 30px;
    padding-left: 10px;
    border: none;
    background-color: transparent;
}

label {
    margin-right: 5px;
    width: 200px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    color: black;
    font-weight: 600;
    padding-left: 10px;
    line-height: 30px;
    font-size: 1em;
}

.hr {
    width: 100%;
    height: 3px;
    border: 1px solid white;
    margin-bottom: 5px;
}

.grid_div {
    width: 100%;
    height: 550px;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    /* align-items: center; */
}

.status_box {
    width: 98%;
    height: 100%;
    border: 1px solid var(--theme-bg-color);
    background-color: var(--button-inactive);
    border-radius: 8px;
    font-weight: 800;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.status_title {
    font-size: 1.5rem;
}

#chartcanvas {
    box-sizing: border-box;
    width: 250px;
    height: 250px;
}

.color_div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5px 0;
    font-size: 1em;
}

.color_box {
    width: 10px;
    height: 10px;
    background-color: aqua;
    border: none;
    border-radius: 1px;
    display: inline-block;
}

.color_set {
    margin: 0 5px;
}

.color_name {
    font-weight: 500;
    display: inline-block;
}

.invite_box {
    width: 98%;
    height: 70px;
    border: 1px solid var(--theme-bg-color);
    background-color: var(--button-inactive);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.mini_box {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 50px;
    margin-right: 5px;
}

.gird_row1 {
    width: 100%;
    height: 580px;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.gird_row2 {
    width: 98%;
    height: 580px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.right_box1 {
    display: grid;
    height: 300px;
    grid-template-columns: 1fr 1fr;
}

.point_box {
    padding: 10px;
    width: 99%;
    height: 98%;
    border: 1px solid var(--theme-bg-color);
    background-color: var(--button-inactive);
    border-radius: 5px;
    display: inline-block;
    justify-content: space-around;
    overflow: auto;
}

.point_box_title {
    display: flex;
    justify-content: space-between;
}

.point_text {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
    align-items: end;
}

.point_button {
    border: none;
    width: 20px;
    height: 20px;
    font-weight: 800;
    margin-top: 5px;
}

.box_ul {
    margin: 10px 0;
    border-bottom:1px solid white;
}

/* .box_ul::-webkit-scrollbar {
    background-color: lightgray;
    width: 2px;
    height: 30px;
} */

.right_box2 {
    padding: 10px;
    width: 100%;
    height: 300px;
    border: 1px solid var(--theme-bg-color);
    border-radius: 5px;
    background-color: var(--button-inactive);
    overflow: auto;
}

table {
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    border-collapse: collapse;
}

.col1 {
    width: 10%;
}

.col2 {
    width: 50%;
}

.col3 {
    width: 20%;
}

.col4 {
    width: 20%;
}