.project-update {
font-size: 20px;
}

.project-update-input {
    width: 300px;
    height: 37px;
    font-size: 18px;
    padding-left: 10px;
    background-color: rgb(255 255 255 / 20%);
    border: none;
    border-radius: 5px;
}

.margin-left {
    margin-left: 30px;
}

.section-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 18px;
    margin-top: 30px;
}

.section-0 {
    display: flex;
}

.section-1 {
    display: flex;
    margin-bottom: 30px;
}

.project-content {
    background-color: rgb(255 255 255 / 20%);
    width: 100%;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    resize: none;
    height: 90px;
    padding-left: 10px;
    line-height: 90px;
    overflow: hidden;
}

.project-start-date {
    margin-left: auto;
    border: none;
    width: 120px;
    background-color: rgb(14, 14, 14,0.73);
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
    line-height: 25px;
}
.project-end-date {
    width: 120px;
    border: none;
    background-color: rgb(14, 14, 14,0.73);
    text-align: center;
    font-size: 13px;
    border-radius: 5px;
    line-height: 25px;
}

.update-btn {
    background-color: #21D9AD;
    width: 110px;
    margin: 32px auto;
    height: 36px;
    border-radius: 5px;
}

.center {
    display: flex;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* 색상 반전 */
}

.explanation-icon-update {
    width: 12px;
    height: 12px;
    background-color: #afafaf;
    border-radius: 50%;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    margin-left: 8px;
    margin-top: 4px;
}
.project_date_ing {
    margin: 8px;
}