*{
    box-sizing: border-box;
}

.first_menu {
    display: grid;
    grid-template-columns: 2.2fr 1.8fr;
}

.menu_title {
    display: grid;
    grid-template-rows: 1.5fr 1.5fr;
}

.title_bar {
    display: flex;
    align-items: center
}

.statuscolor {
    border-radius: 10px;
    width: 80%;
    height: 60%;
    margin: 0 auto;
}

.project_color {
    display: inline-block;
    width: 20px;
    height: 20px;
    /* background-color: beige; */
    border-radius: 5px;
    margin-right: 10px;
}

.title:not(.detail_title) {
    display: inline-block;
    width: 70%;
    height: 20px;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background-color: transparent;
}

.title_rightgrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.title_img {
    display: flex;
    justify-content: flex-end;
    /* margin-bottom: 10px; */
}

.title_img2 {
    width: 25px;
    height: 25px;
}

.project_title {
    /* width: 100%; */
    border: none;
    resize: none;
    background-color: transparent;
    font-size: 15px;
}

.project_title:hover {
    background-color: rgba(110, 110, 110, 0.32);
    border-radius: 5px;
}

.project_content {
    display: inline-block;
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border: none;
    resize: none;
    background-color: transparent;
}

.project_content:hover {
    border: 1px solid white;
}

.dday {
    font-size: 1.5rem;
}

.tabset {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 2.4fr;
    align-items: center;
    color: white;
    font-weight: 800;
}

.tabmenu {
    display: inline-block;
    width: 100%;
    height: 50%;
    /* margin: 0 5px 0 0; */
    padding: 0;
    font-weight: 400;
    border: none;
    background-color: rgba(255, 255, 255,30%);
    text-align: center;
}

.tabmenu.active {
    width: 100%;
    color: white;
    font-weight: 500;
    display: inline-block;
    background-color: rgba(0, 0, 0,50%);
    /* border-bottom: 2pax solid #6b6b6b; */
}

.date_set {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    justify-items: center;
    align-items: end;
    color: black;
    /* margin-bottom: 20px */
}

.project_date {
    width: 70%;
    text-align: center;
    height: 30px;
    padding-left: 10px;
    border: none;
    color: black;
    background-color: transparent;
}

.project_label {
    width: 97%;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    color: black;
    font-weight: 600;
    padding-left: 10px;
    line-height: 30px;
    text-align: center;
    font-size: 1em;
}

.div_text1 {
    text-align: center;
}

.col1 {
    width: 100%;
}

.div_text2 {
    display: inline-block;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    text-align: center;
    font-size: 15px;
}

.col2 {
    width: 25%;
}

.col3 {
    width: 75%;
}

.div_text3 {
    display: inline-block;
    display: grid;
    grid-template-columns: 0.1fr 0.4fr 2.5fr 1fr 1fr;
    text-align: center;
    /* font-size: 15px; */
}

.col4 {
    width: 2%;
}

.col5 {
    width: 8%;
}

.col6 {
    width: 50%;
}

.col7 {
    width: 20%;
}

.col8 {
    width: 00%;
}

#titleline {
    margin: 4px 0 0 0;
    width: 100%;
    /* height: 2px; */
    border: 1.9px solid white;
    opacity: 100;
}

.grid_div {
    width: 100%;
    height: 550px;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    /* align-items: center; */
}

.status_box {
    width: 98%;
    height: 455px;
    border: 1px solid var(--theme-bg-color);
    background-color: var(--content-bg);
    border-radius: 8px;
    font-weight: 800;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.status_title {
    font-size: 1.6rem;
}

#chartcanvas {
    box-sizing: border-box;
    width: 250px;
    height: 250px;
}

.color_div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 5px 0;
    font-size: 1em;
}

.color_box1 {
    width: 10px;
    height: 10px;
    background-color: #B1B1B1;
    border: none;
    border-radius: 10px;
    display: inline-block;
}

.color_box2 {
    width: 10px;
    height: 10px;
    background-color: #04A5FF;
    border: none;
    border-radius: 10px;
    display: inline-block;
}

.color_box3 {
    width: 10px;
    height: 10px;
    background-color: #F34747;
    border: none;
    border-radius: 10px;
    display: inline-block;
}

.color_box4 {
    width: 10px;
    height: 10px;
    background-color: #64C139;
    border: none;
    border-radius: 10px;
    display: inline-block;
}


.color_set {
    margin: 0 5px;
}

.color_name {
    font-weight: 500;
    display: inline-block;
}

.invite_box {
    width: 98%;
    height: 87px;
    border: 1px solid var(--theme-bg-color);
    background-color: var(--content-bg);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: stretch;
}

.invite_a {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    width: 100%;
    height: 100%;
}

.invite_person {
    width: 100%;
    height: 100%;
}

.mini_box {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 50px;
    margin-right: 5px;
}

.gird_row1 {
    width: 100%;
    height: 570px;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-row-gap: 10px;
}

.gird_row2 {
    width: 100%;
    height: 570px;
    /* display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: stretch;
    justify-content: space-between; */
}

.right_box1 {
    display: grid;
    height: 285px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    width: 100%;
}

.point_box {
    padding: 10px;
    width: 100%;
    height: 275px;
    border: 1px solid var(--theme-bg-color);
    background-color: var(--content-bg);
    border-radius: 8px;
    display: inline-block;
    justify-content: space-around;
    /* text-align: center; */
}

.listtable {
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    border-collapse: collapse;
}

.listscroll {
    overflow-y: scroll;
    width: 100%;
    height: 170px;

}

.listscroll::-webkit-scrollbar {
    width: 5px;
    height: 80%;
   }
   
.listscroll::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 4px;
   }

.point_box_title {
    display: flex;
    justify-content: space-between;
}

.point_text {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
    align-items: end;
}

.point_button {
    border: none;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 25px;
    /* background-image: url(/laravel_together/public/img/projectplus.png);
    background-size: cover; */
    font-weight: 600;
    /* margin-right: 10px; */
}

.td_pd {
    padding: 4px;
    border: none;
    resize: none;
    background-color: transparent;
}

.right_box2 {
    padding: 10px;
    width: 100%;
    height: 270px;
    border: 1px solid var(--theme-bg-color);
    border-radius: 8px;
    background-color: var(--content-bg);
}

/* 클릭 가능 */
/* .project_title {
    cursor: pointer;
} */

.box_ul {
    padding: 4px 0;
    border-bottom:1px solid rgba(255, 255, 255, 50%);
}



/* 모달창 */

#deleteModal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.deletemodal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 20%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.deletespan {
    color: black;
    font-size: 18px;
    font-weight: 600;
    display: block;
}

.deletebutton {
    color: white;
    width: 62px;
    height: 27px;
    margin-right: 10px;
    background-color: #04A5FF;
    float: right;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
}

.closebutton {
    color: white;
    width: 62px;
    height: 27px;
    margin-right: 10px;
    background-color: #919191;
    float: right;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
}
/* 
.deletebutton:hover,
.deletebutton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */

.goFeed {
	width: fit-content;
    padding: 5px 15px;
    border: none;
    color:white;
}

.goGantt {
	width: fit-content;
    padding: 5px 15px;
    border: none;
    color:black;
}